@import "neat";

$example-2-grid: (
  gutter: 20px,
  media: 800px,
);

.example-2,
.example-2__row {
  @include grid-container;
}

.example-2__heading {
  @include grid-column;
  text-align: center;
}

.example-2__hero {
  @include grid-column;
  @include grid-media($example-2-grid) {
    @include grid-column(6); // 100% / 12(дефолтное кол-во колонок) * 6 = 50%
    @include grid-push(3); // на какое количество колонок сдвинуть вправо
  }
}

.example-2__rule {
  @include grid-column;
  @include grid-media($example-2-grid) {
    @include grid-column(4); // 33,33%
    @include grid-push(4);
  }
}

.example-2__column-1 {
  @include grid-column;
  @include grid-media($example-2-grid) {
    @include grid-column(2); // 16,66%
    @include grid-push(2);
  }
}

.example-2__column-2 {
  @include grid-column;
  @include grid-media($example-2-grid) {
    @include grid-column(6);
  }
}

body {
  margin: 0;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 0.9375em;
  line-height: 2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Quincy", "Georgia", "Times", "Times New Roman", serif;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 0 1rem;
}

.example__heading {
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1.42383em;
  font-weight: 600;
  letter-spacing: 0.04em;
  margin-bottom: 1em;
  text-align: center;
}

.example__column--fancy {
  background-image: linear-gradient(to bottom right, #21e9f4, #00d4ff);
  color: #fff;
}

blockquote {
  font-style: italic;
  line-height: 1.2;
}

p {
  margin: 0 0 1em;
}

hr {
  border-bottom: 4px solid #00d4ff;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 2em 0;
}
